
html {
    font-size:145%;
}

#wrap {
    padding-top: 80px;
}

#main {
    min-height: 520px;
}

.control-group .help-block {
    margin-bottom: 30px;
}

#main .action {
    margin-top: 15px;
}


#footer {
    background-color: #f5f5f5;
    min-height: 3em;
    overflow: hidden;
}

.credit {
    text-align: center;
    margin: 0;
    line-height: 3em !important;
}

.jumbotron {
margin: 10px 0;
text-align: center;
}

.navbar-inner {
  background-color: #fff; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
    font-size: 16px;

}
.navbar .nav > li {
    line-height: 40px;
}